html {
  background-color: lightblue;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trivia-container {
  text-align: center;
}

.trivia-title {
  font-size: 40px;
  color: blueviolet;
  padding: 10px;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  font-size: 28px;
  color: darkblue;
  /* border: 1px solid red; */
  padding: 10px;
  text-align: center;
}

.score-text {
  color: green;
  padding: 0 9px;
}

.play-again {
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  font-size: 16px;
  font-weight: bold;
}

.play-again:hover, 
.trivia-answer-button:hover {
  cursor: pointer;
  background-color: beige;
}

.trivia-question-container {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 8px 7px 15px 1px rgba(0,0,0,0.33);
}

.trivia-question {
  font-size: 20px;
  text-align: center;
}

.trivia-answers-container {
  display: flex;
  flex-wrap: wrap; /* Allows for button layout to be 2 rows by 2 columns */
  margin-top: 5px;
}

.trivia-answer-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 8px 7px 15px 1px rgba(0,0,0,0.33);
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  width: calc(50% - 20px); /* Recalculates the width to account for margin */
}

.trivia-answer-button.green {
  color: green;
}

.trivia-answer-button.red {
  color: red;
}

.trivia-answer-button.user-answer {
  background-color: beige;
}