html {
  background-color: lightblue;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trivia-container {
}

.trivia-question-container {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 8px 7px 15px 1px rgba(0,0,0,0.33);
}

.trivia-question {
  font-size: 20px;
  text-align: center;
}

.trivia-answers-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.trivia-answer-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 8px 7px 15px 1px rgba(0,0,0,0.33);
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  width: calc(50% - 20px);
}